In [14]:
# Initial imports
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
pd.options.display.max_columns = 999

In [15]:
# Loading data
file_path = Path("data.csv")
df_retail = pd.read_csv(file_path)
df_retail.head()

,Unnamed: 0,IID,AGE_,INCOME,ETHNIC_CODE_GROUP,AN_BIRTHDAY,POSTAL_CD,LOYALTY_YN,FIRST_ANTHRO_ORDER,LIFETIME_APPAREL_DEMAND,LIFETIME_APPAREL_ORDERS,ORDER_DT,ORDER_ID,ORDER_LINE_SEQ,PURCHASE_CHANNEL_DERIVED,STORE_NUM,STORE_NAME,STORE_ZIP,DIVISION_NAME,DEPARTMENT_NAME,CLASS_NAME,PRODUCT_ID,ITEM_NAME,MD_STATE,DEMAND_QTY,DEMAND_AMT,states,Region
0,0,010TUGIXZ95K5R,57,8,K,1970-01-01 00:00:00.000000000,85260,Y,2015-03-24 00:00:00.000000000,5059.97,67,2020-06-12 00:00:00.000000000,4230042557,2,RETAIL,423,"423 SCOTTSDALE,AZ-KIERLND (NA)",85254-2176,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S BOTTOMS (NA),PANTS (NA),54766134,ASYMMETRICAL PULL ON PANT,REG PRICE,1,52.46,AZ,West
1,1,0109BPMLXNREXT,50,7,J,1970-01-01 00:00:00.000000306,20017,Y,2015-10-15 00:00:00.000000000,17353.28,54,2021-02-09 00:00:00.000000000,AP11740106,3,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,OFF HOURS (NA),ANTHRO - OFF HOURS (NA),LOUNGE (NA),59001933,COZY KNIT JOGGER,REG PRICE,1,44.96,DC,South
2,2,0102I4L0PINZB3,54,11,E,1970-01-01 00:00:00.000001129,23233,Y,2017-07-11 00:00:00.000000000,4481.17,30,2022-12-26 00:00:00.000000000,4440016787,1,RETAIL,444,"444 RICHMOND, VA (NA)",23235-1955,ANTHRO. WOMEN'S DIVISION (NA),JACKETS (NA),OUTERWEAR - ANTHRO. (NA),69997476,UNREAL FUR KATHMANDU COAT,REG PRICE,1,179.97,VA,South
3,3,010QS307CAT5WJ,48,11,K,1970-01-01 00:00:00.000000204,23453,Y,2018-06-28 00:00:00.000000000,8312.67,47,2020-09-14 00:00:00.000000000,AP08740761,1,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,APPAREL EXTENDED SIZES (NA),PETITES (NA),JEANS - PETITES (NA),58280181,OB HR FEMME DARTED SKINNY,MARKDOWN,1,128.00,VA,South
4,4,0101EN5Q3W4AE8,32,9,K,1970-01-01 00:00:00.000000000,94108,Y,2019-07-12 00:00:00.000000000,6528.04,37,2022-03-31 00:00:00.000000000,AN09227509,1,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,APPAREL EXTENDED SIZES (NA),PETITES (NA),DRESSES - PETITES (NA),66952177,OB 1 SHLDR CHERRY PRNTD M,MARKDOWN,1,160.00,CA,West

In [6]:
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224647 entries, 0 to 224646
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                224647 non-null  int64
 1   IID                       224647 non-null  object
 2   AGE_                      224647 non-null  int64
 3   INCOME                    224647 non-null  int64
 4   ETHNIC_CODE_GROUP         224647 non-null  object
 5   AN_BIRTHDAY               224647 non-null  object
 6   POSTAL_CD                 224647 non-null  int64
 7   LOYALTY_YN                224647 non-null  object
 8   FIRST_ANTHRO_ORDER        224647 non-null  object
 9   LIFETIME_APPAREL_DEMAND   224647 non-null  float64
 10  LIFETIME_APPAREL_ORDERS   224647 non-null  int64
 11  ORDER_DT                  224647 non-null  object
 12  ORDER_ID                  224647 non-null  object
 13  ORDER_LINE_SEQ            224647 non-null  int64
 14  PURCHASE_CHANNEL_DERIVED  224647 non-null  object
 15  STORE_NUM                 224647 non-null  int64
 16  STORE_NAME                224647 non-null  object
 17  STORE_ZIP                 224647 non-null  object
 18  DIVISION_NAME             224647 non-null  object
 19  DEPARTMENT_NAME           224647 non-null  object
 20  CLASS_NAME                224647 non-null  object
 21  PRODUCT_ID                224647 non-null  int64
 22  ITEM_NAME                 224647 non-null  object
 23  MD_STATE                  224647 non-null  object
 24  DEMAND_QTY                224647 non-null  int64
 25  DEMAND_AMT                224647 non-null  float64
 26  states                    224647 non-null  object
 27  Region                    224647 non-null  object
dtypes: float64(2), int64(9), object(17)
memory usage: 48.0+ MB

In [7]:
df_retail.IID.value_counts()

010NNJ93E7VKUN    8804
0103IPXSGJD0X6    1790
010EAXG020328O    1560
010TPQOHLPTWWR    1227
010EF2O2JTXADL    1076
                  ...
01116AOTM3RH0M       1
0103TNMJG77ZAX       1
0113SXEV26I9ZS       1
010SLUETY6906O       1
010ITVO01DFAGM       1
Name: IID, Length: 9008, dtype: int64

In [16]:
df_retail[df_retail["IID"]=="010EF2O2JTXADL"]

,Unnamed: 0,IID,AGE_,INCOME,ETHNIC_CODE_GROUP,AN_BIRTHDAY,POSTAL_CD,LOYALTY_YN,FIRST_ANTHRO_ORDER,LIFETIME_APPAREL_DEMAND,LIFETIME_APPAREL_ORDERS,ORDER_DT,ORDER_ID,ORDER_LINE_SEQ,PURCHASE_CHANNEL_DERIVED,STORE_NUM,STORE_NAME,STORE_ZIP,DIVISION_NAME,DEPARTMENT_NAME,CLASS_NAME,PRODUCT_ID,ITEM_NAME,MD_STATE,DEMAND_QTY,DEMAND_AMT,states,Region
9,9,010EF2O2JTXADL,44,4,K,1970-01-01 00:00:00.000000505,54720,Y,2015-02-25 00:00:00.000000000,207190.78,255,2022-08-09 00:00:00.000000000,AN10197715,1,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S DRESSES (NA),DRESSES - ANTHRO. (NA),68433762,BLACK HALO SLIM ONE SHOUL,MARKDOWN,1,375.00,WI,Midwest
10,10,010EF2O2JTXADL,44,4,K,1970-01-01 00:00:00.000000505,54720,Y,2015-02-25 00:00:00.000000000,207190.78,255,2022-08-09 00:00:00.000000000,AN10197715,3,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S DRESSES (NA),DRESSES - ANTHRO. (NA),69773133,OB OS TXTRD RFFL MINI,MARKDOWN,1,170.00,WI,Midwest
32,38,010EF2O2JTXADL,44,4,K,1970-01-01 00:00:00.000000505,54720,Y,2015-02-25 00:00:00.000000000,207190.78,255,2022-11-25 00:00:00.000000000,AN11053273,1,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S TOPS (NA),SWEATERS - ANTHRO. (NA),69916096,ANTIK BATIK STRIPED TURTL,REG PRICE,1,99.97,WI,Midwest
99,123,010EF2O2JTXADL,44,4,K,1970-01-01 00:00:00.000000505,54720,Y,2015-02-25 00:00:00.000000000,207190.78,255,2022-01-09 00:00:00.000000000,AN08696114,2,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S DRESSES (NA),DRESSES - ANTHRO. (NA),64665839,FAITHFULL SV DEEP V SOLID,MARKDOWN,1,199.00,WI,Midwest
286,352,010EF2O2JTXADL,44,4,K,1970-01-01 00:00:00.000000505,54720,Y,2015-02-25 00:00:00.000000000,207190.78,255,2022-04-25 00:00:00.000000000,AN09421365,4,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S TOPS (NA),BLOUSES - ANTHRO. (NA),67938100,OB LL PILCRO ROMY RELAXED,MARKDOWN,1,98.00,WI,Midwest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224117,283472,010EF2O2JTXADL,44,4,K,1970-01-01 00:00:00.000000505,54720,Y,2015-02-25 00:00:00.000000000,207190.78,255,2021-07-11 00:00:00.000000000,AN07069544,2,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S TOPS (NA),BLOUSES - ANTHRO. (NA),62422860,CMS SLVLS PRINTED SHELL,REG PRICE,1,44.96,WI,Midwest
224190,283567,010EF2O2JTXADL,44,4,K,1970-01-01 00:00:00.000000505,54720,Y,2015-02-25 00:00:00.000000000,207190.78,255,2022-01-14 00:00:00.000000000,AN08736440,19,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,OFF HOURS (NA),ANTHRO - OFF HOURS (NA),SWIM (NA),66701285,SOLID AND STRIPED KAIA RU,MARKDOWN,1,88.00,WI,Midwest
224191,283568,010EF2O2JTXADL,44,4,K,1970-01-01 00:00:00.000000505,54720,Y,2015-02-25 00:00:00.000000000,207190.78,255,2022-01-14 00:00:00.000000000,AN08736440,16,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,OFF HOURS (NA),ANTHRO - OFF HOURS (NA),SWIM (NA),64245566,ROS GARDEN SHORT SOFIA DR,MARKDOWN,1,235.00,WI,Midwest
224199,283577,010EF2O2JTXADL,44,4,K,1970-01-01 00:00:00.000000505,54720,Y,2015-02-25 00:00:00.000000000,207190.78,255,2020-05-23 00:00:00.000000000,AN03690591,2,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S TOPS (NA),BLOUSES - ANTHRO. (NA),56103542,OB THE CLASSIC DYE TECH,REG PRICE,1,73.50,WI,Midwest
224545,284007,010EF2O2JTXADL,44,4,K,1970-01-01 00:00:00.000000505,54720,Y,2015-02-25 00:00:00.000000000,207190.78,255,2022-01-16 00:00:00.000000000,AN08755398,2,DIRECT,2499,ANT DIRECT SELLING (NA),DIRECT,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S DRESSES (NA),DRESSES - ANTHRO. (NA),65398703,OB SV SOLID TAFFATA ALINE,REG PRICE,1,59.97,WI,Midwest

In [11]:
df_retail.columns

Index(['Unnamed: 0', 'IID', 'AGE_', 'INCOME', 'ETHNIC_CODE_GROUP',
       'AN_BIRTHDAY', 'POSTAL_CD', 'LOYALTY_YN', 'FIRST_ANTHRO_ORDER',
       'LIFETIME_APPAREL_DEMAND', 'LIFETIME_APPAREL_ORDERS', 'ORDER_DT',
       'ORDER_ID', 'ORDER_LINE_SEQ', 'PURCHASE_CHANNEL_DERIVED', 'STORE_NUM',
       'STORE_NAME', 'STORE_ZIP', 'DIVISION_NAME', 'DEPARTMENT_NAME',
       'CLASS_NAME', 'PRODUCT_ID', 'ITEM_NAME', 'MD_STATE', 'DEMAND_QTY',
       'DEMAND_AMT', 'states', 'Region'],
      dtype='object')

In [ ]:
# #predictors=['AGE_', 'INCOME', 'ETHNIC_CODE_GROUP',
#         'POSTAL_CD', 'LOYALTY_YN', 'LIFETIME_APPAREL_DEMAND', 'LIFETIME_APPAREL_ORDERS',
#         'PURCHASE_CHANNEL_DERIVED', 'STORE_NUM',
#         'DIVISION_NAME', 'DEPARTMENT_NAME',
#        'CLASS_NAME', 'PRODUCT_ID', 'ITEM_NAME', 'MD_STATE', 'DEMAND_QTY',
#        'DEMAND_AMT', 'states', 'Region']

In [17]:
df_retail2=df_retail[['IID', 'ORDER_DT','DEMAND_AMT']].copy()
df_retail2.head()

              IID                       ORDER_DT  DEMAND_AMT
0  010TUGIXZ95K5R  2020-06-12 00:00:00.000000000       52.46
1  0109BPMLXNREXT  2021-02-09 00:00:00.000000000       44.96
2  0102I4L0PINZB3  2022-12-26 00:00:00.000000000      179.97
3  010QS307CAT5WJ  2020-09-14 00:00:00.000000000      128.00
4  0101EN5Q3W4AE8  2022-03-31 00:00:00.000000000      160.00

In [18]:
df_retail2['ORDER_DT']=pd.to_datetime(df_retail2['ORDER_DT'])

In [19]:
df_retail2.dtypes

IID                   object
ORDER_DT      datetime64[ns]
DEMAND_AMT           float64
dtype: object

In [20]:
df_retail2.head()

              IID   ORDER_DT  DEMAND_AMT
0  010TUGIXZ95K5R 2020-06-12       52.46
1  0109BPMLXNREXT 2021-02-09       44.96
2  0102I4L0PINZB3 2022-12-26      179.97
3  010QS307CAT5WJ 2020-09-14      128.00
4  0101EN5Q3W4AE8 2022-03-31      160.00

In [21]:
df_retail2.shape

(224647, 3)

In [22]:
df_retail2_agg=df_retail2.groupby(['IID', 'ORDER_DT']).sum()[['DEMAND_AMT']].reset_index()
df_retail2_agg.shape

(92268, 3)