In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib as mpl
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Import file
file_path = "..\..\Bootcamp\Module_21\DELETE_ME\AN_EW_CUST_DATASET_202303141449.csv"
raw_cust = pd.read_csv(file_path)
raw_cust.head()

,IID,AGE_,INCOME,ETHNIC_CODE_GROUP,AN_BIRTHDAY,POSTAL_CD,LOYALTY_YN,LOYALTY_ENROLLMENT_DT,FIRST_ANTHRO_ORDER,LIFETIME_APPAREL_DEMAND,...,STORE_NAME,STORE_ZIP,DIVISION_NAME,DEPARTMENT_NAME,CLASS_NAME,PRODUCT_ID,ITEM_NAME,MD_STATE,DEMAND_QTY,DEMAND_AMT
0,010TUGIXZ95K5R,57,8,K,0.0,85260.0,Y,00:00.0,3/24/2015,5059.97,...,"423 SCOTTSDALE,AZ-KIERLND (NA)",85254-2176,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S BOTTOMS (NA),PANTS (NA),54766134,ASYMMETRICAL PULL ON PANT,REG PRICE,1,52.46
1,0109BPMLXNREXT,50,7,J,306.0,20017.0,Y,00:00.0,10/15/2015,17353.28,...,ANT DIRECT SELLING (NA),NaN,OFF HOURS (NA),ANTHRO - OFF HOURS (NA),LOUNGE (NA),59001933,COZY KNIT JOGGER,REG PRICE,1,44.96
2,0102I4L0PINZB3,54,11,E,1129.0,23233.0,Y,00:00.0,7/11/2017,4481.17,...,"444 RICHMOND, VA (NA)",23235-1955,ANTHRO. WOMEN'S DIVISION (NA),JACKETS (NA),OUTERWEAR - ANTHRO. (NA),69997476,UNREAL FUR KATHMANDU COAT,REG PRICE,1,179.97
3,010QS307CAT5WJ,48,11,K,204.0,23453.0,Y,00:00.0,6/28/2018,8312.67,...,ANT DIRECT SELLING (NA),NaN,APPAREL EXTENDED SIZES (NA),PETITES (NA),JEANS - PETITES (NA),58280181,OB HR FEMME DARTED SKINNY,MARKDOWN,1,128.00
4,0101EN5Q3W4AE8,32,9,K,0.0,94108.0,Y,00:00.0,7/12/2019,6528.04,...,ANT DIRECT SELLING (NA),NaN,APPAREL EXTENDED SIZES (NA),PETITES (NA),DRESSES - PETITES (NA),66952177,OB 1 SHLDR CHERRY PRNTD M,MARKDOWN,1,160.00

In [3]:
# Shape of dataset
raw_cust.shape

(284141, 26)

In [4]:
# Dataset info
raw_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284141 entries, 0 to 284140
Data columns (total 26 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IID                       284141 non-null  object
 1   AGE_                      284141 non-null  int64
 2   INCOME                    284141 non-null  int64
 3   ETHNIC_CODE_GROUP         284141 non-null  object
 4   AN_BIRTHDAY               243602 non-null  float64
 5   POSTAL_CD                 284046 non-null  float64
 6   LOYALTY_YN                284141 non-null  object
 7   LOYALTY_ENROLLMENT_DT     257998 non-null  object
 8   FIRST_ANTHRO_ORDER        284141 non-null  object
 9   LIFETIME_APPAREL_DEMAND   284141 non-null  float64
 10  LIFETIME_APPAREL_ORDERS   284141 non-null  int64
 11  ORDER_DT                  284141 non-null  object
 12  ORDER_ID                  284141 non-null  object
 13  ORDER_LINE_SEQ            284141 non-null  int64
 14  PURCHASE_CHANNEL_DERIVED  284141 non-null  object
 15  STORE_NUM                 284141 non-null  int64
 16  STORE_NAME                284141 non-null  object
 17  STORE_ZIP                 117707 non-null  object
 18  DIVISION_NAME             284141 non-null  object
 19  DEPARTMENT_NAME           284141 non-null  object
 20  CLASS_NAME                284141 non-null  object
 21  PRODUCT_ID                284141 non-null  int64
 22  ITEM_NAME                 284141 non-null  object
 23  MD_STATE                  284141 non-null  object
 24  DEMAND_QTY                284141 non-null  int64
 25  DEMAND_AMT                284141 non-null  float64
dtypes: float64(4), int64(7), object(15)
memory usage: 56.4+ MB

In [5]:
# Rows containing duplicate data
duplicate_rows_df = raw_cust[raw_cust.duplicated()]
print("Number of duplicate rows: ", duplicate_rows_df.shape)

Number of duplicate rows:  (0, 26)

In [6]:
# Duplicated "IID" values/How many are unique
cust_iid = pd.array(raw_cust["IID"]).unique()
cust_iid

<PandasArray>
['010TUGIXZ95K5R', '0109BPMLXNREXT', '0102I4L0PINZB3', '010QS307CAT5WJ',
 '0101EN5Q3W4AE8', '0111JT7ZO62TGR', '010FOC93OHBBM7', '010UX5PQ4TAVF4',
 '010J2QDGSC94T6', '010EF2O2JTXADL',
 ...
 '0113NBUFJI4QDP', '0111CAXZFVKEHE', '0103BHR7DX0LWF', '010YGY673F60S6',
 '01130XIHFBRL4G', '0112V31ZRQM9YJ', '010R7BXTKAAFNB', '0108PZEFUR4201',
 '0105LJ8U9PGORV', '010ITVO01DFAGM']
Length: 14979, dtype: object

In [7]:
# Convert "AN_Birthday" to datetime
import datetime as dt
raw_cust["AN_BIRTHDAY"] = pd.to_datetime(raw_cust["AN_BIRTHDAY"])
raw_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284141 entries, 0 to 284140
Data columns (total 26 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IID                       284141 non-null  object
 1   AGE_                      284141 non-null  int64
 2   INCOME                    284141 non-null  int64
 3   ETHNIC_CODE_GROUP         284141 non-null  object
 4   AN_BIRTHDAY               243602 non-null  datetime64[ns]
 5   POSTAL_CD                 284046 non-null  float64
 6   LOYALTY_YN                284141 non-null  object
 7   LOYALTY_ENROLLMENT_DT     257998 non-null  object
 8   FIRST_ANTHRO_ORDER        284141 non-null  object
 9   LIFETIME_APPAREL_DEMAND   284141 non-null  float64
 10  LIFETIME_APPAREL_ORDERS   284141 non-null  int64
 11  ORDER_DT                  284141 non-null  object
 12  ORDER_ID                  284141 non-null  object
 13  ORDER_LINE_SEQ            284141 non-null  int64
 14  PURCHASE_CHANNEL_DERIVED  284141 non-null  object
 15  STORE_NUM                 284141 non-null  int64
 16  STORE_NAME                284141 non-null  object
 17  STORE_ZIP                 117707 non-null  object
 18  DIVISION_NAME             284141 non-null  object
 19  DEPARTMENT_NAME           284141 non-null  object
 20  CLASS_NAME                284141 non-null  object
 21  PRODUCT_ID                284141 non-null  int64
 22  ITEM_NAME                 284141 non-null  object
 23  MD_STATE                  284141 non-null  object
 24  DEMAND_QTY                284141 non-null  int64
 25  DEMAND_AMT                284141 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(7), object(15)
memory usage: 56.4+ MB

In [8]:
# Convert "FIRST_ANTHRO_ORDER" to datetime
raw_cust["FIRST_ANTHRO_ORDER"] = pd.to_datetime(raw_cust["FIRST_ANTHRO_ORDER"])
raw_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284141 entries, 0 to 284140
Data columns (total 26 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   IID                       284141 non-null  object
 1   AGE_                      284141 non-null  int64
 2   INCOME                    284141 non-null  int64
 3   ETHNIC_CODE_GROUP         284141 non-null  object
 4   AN_BIRTHDAY               243602 non-null  datetime64[ns]
 5   POSTAL_CD                 284046 non-null  float64
 6   LOYALTY_YN                284141 non-null  object
 7   LOYALTY_ENROLLMENT_DT     257998 non-null  object
 8   FIRST_ANTHRO_ORDER        284141 non-null  datetime64[ns]
 9   LIFETIME_APPAREL_DEMAND   284141 non-null  float64
 10  LIFETIME_APPAREL_ORDERS   284141 non-null  int64
 11  ORDER_DT                  284141 non-null  object
 12  ORDER_ID                  284141 non-null  object
 13  ORDER_LINE_SEQ            284141 non-null  int64
 14  PURCHASE_CHANNEL_DERIVED  284141 non-null  object
 15  STORE_NUM                 284141 non-null  int64
 16  STORE_NAME                284141 non-null  object
 17  STORE_ZIP                 117707 non-null  object
 18  DIVISION_NAME             284141 non-null  object
 19  DEPARTMENT_NAME           284141 non-null  object
 20  CLASS_NAME                284141 non-null  object
 21  PRODUCT_ID                284141 non-null  int64
 22  ITEM_NAME                 284141 non-null  object
 23  MD_STATE                  284141 non-null  object
 24  DEMAND_QTY                284141 non-null  int64
 25  DEMAND_AMT                284141 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(7), object(14)
memory usage: 56.4+ MB

In [9]:
# Review of dataset
raw_cust.head()

,IID,AGE_,INCOME,ETHNIC_CODE_GROUP,AN_BIRTHDAY,POSTAL_CD,LOYALTY_YN,LOYALTY_ENROLLMENT_DT,FIRST_ANTHRO_ORDER,LIFETIME_APPAREL_DEMAND,...,STORE_NAME,STORE_ZIP,DIVISION_NAME,DEPARTMENT_NAME,CLASS_NAME,PRODUCT_ID,ITEM_NAME,MD_STATE,DEMAND_QTY,DEMAND_AMT
0,010TUGIXZ95K5R,57,8,K,1970-01-01 00:00:00.000000000,85260.0,Y,00:00.0,2015-03-24,5059.97,...,"423 SCOTTSDALE,AZ-KIERLND (NA)",85254-2176,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S BOTTOMS (NA),PANTS (NA),54766134,ASYMMETRICAL PULL ON PANT,REG PRICE,1,52.46
1,0109BPMLXNREXT,50,7,J,1970-01-01 00:00:00.000000306,20017.0,Y,00:00.0,2015-10-15,17353.28,...,ANT DIRECT SELLING (NA),NaN,OFF HOURS (NA),ANTHRO - OFF HOURS (NA),LOUNGE (NA),59001933,COZY KNIT JOGGER,REG PRICE,1,44.96
2,0102I4L0PINZB3,54,11,E,1970-01-01 00:00:00.000001129,23233.0,Y,00:00.0,2017-07-11,4481.17,...,"444 RICHMOND, VA (NA)",23235-1955,ANTHRO. WOMEN'S DIVISION (NA),JACKETS (NA),OUTERWEAR - ANTHRO. (NA),69997476,UNREAL FUR KATHMANDU COAT,REG PRICE,1,179.97
3,010QS307CAT5WJ,48,11,K,1970-01-01 00:00:00.000000204,23453.0,Y,00:00.0,2018-06-28,8312.67,...,ANT DIRECT SELLING (NA),NaN,APPAREL EXTENDED SIZES (NA),PETITES (NA),JEANS - PETITES (NA),58280181,OB HR FEMME DARTED SKINNY,MARKDOWN,1,128.00
4,0101EN5Q3W4AE8,32,9,K,1970-01-01 00:00:00.000000000,94108.0,Y,00:00.0,2019-07-12,6528.04,...,ANT DIRECT SELLING (NA),NaN,APPAREL EXTENDED SIZES (NA),PETITES (NA),DRESSES - PETITES (NA),66952177,OB 1 SHLDR CHERRY PRNTD M,MARKDOWN,1,160.00

In [10]:
# Count of "NaN" from DataFrame
raw_cust.isna().sum()

IID                              0
AGE_                             0
INCOME                           0
ETHNIC_CODE_GROUP                0
AN_BIRTHDAY                  40539
POSTAL_CD                       95
LOYALTY_YN                       0
LOYALTY_ENROLLMENT_DT        26143
FIRST_ANTHRO_ORDER               0
LIFETIME_APPAREL_DEMAND          0
LIFETIME_APPAREL_ORDERS          0
ORDER_DT                         0
ORDER_ID                         0
ORDER_LINE_SEQ                   0
PURCHASE_CHANNEL_DERIVED         0
STORE_NUM                        0
STORE_NAME                       0
STORE_ZIP                   166434
DIVISION_NAME                    0
DEPARTMENT_NAME                  0
CLASS_NAME                       0
PRODUCT_ID                       0
ITEM_NAME                        0
MD_STATE                         0
DEMAND_QTY                       0
DEMAND_AMT                       0
dtype: int64

In [11]:
# Remove columns with NaN that aren't "STORE_ZIP"
cust_col_removed = raw_cust.drop(["AN_BIRTHDAY", "POSTAL_CD", "LOYALTY_ENROLLMENT_DT"], axis=1)
cust_col_removed.isna().sum()

IID                              0
AGE_                             0
INCOME                           0
ETHNIC_CODE_GROUP                0
LOYALTY_YN                       0
FIRST_ANTHRO_ORDER               0
LIFETIME_APPAREL_DEMAND          0
LIFETIME_APPAREL_ORDERS          0
ORDER_DT                         0
ORDER_ID                         0
ORDER_LINE_SEQ                   0
PURCHASE_CHANNEL_DERIVED         0
STORE_NUM                        0
STORE_NAME                       0
STORE_ZIP                   166434
DIVISION_NAME                    0
DEPARTMENT_NAME                  0
CLASS_NAME                       0
PRODUCT_ID                       0
ITEM_NAME                        0
MD_STATE                         0
DEMAND_QTY                       0
DEMAND_AMT                       0
dtype: int64

In [12]:
# Remove "NaN" from "STORE_ZIP"
cust_removed_zip = cust_col_removed.dropna()
cust_removed_zip.isna().sum()

IID                         0
AGE_                        0
INCOME                      0
ETHNIC_CODE_GROUP           0
LOYALTY_YN                  0
FIRST_ANTHRO_ORDER          0
LIFETIME_APPAREL_DEMAND     0
LIFETIME_APPAREL_ORDERS     0
ORDER_DT                    0
ORDER_ID                    0
ORDER_LINE_SEQ              0
PURCHASE_CHANNEL_DERIVED    0
STORE_NUM                   0
STORE_NAME                  0
STORE_ZIP                   0
DIVISION_NAME               0
DEPARTMENT_NAME             0
CLASS_NAME                  0
PRODUCT_ID                  0
ITEM_NAME                   0
MD_STATE                    0
DEMAND_QTY                  0
DEMAND_AMT                  0
dtype: int64

In [13]:
# Heatmap of USA based on "STORE_ZIP" - Use GeoAPIfy?

In [14]:
# Count of "Y" in "LOYALTY_YN"
yes_count = 0
#for value in df.
#    if value == "Y"
#    yes_count +=1
#print(yes_count)

In [15]:
# Count of "N" in "LOYALTY_YN"
no_count = 0

In [24]:
# Test Zip code
from uszipcode import SearchEngine
search = SearchEngine()
states = []
for zipcode in cust_removed_zip["STORE_ZIP"]:
    cust_removed_zip["state"] = search.by_zipcode(zipcode)
    #states.apppend(result)
#cust_removed_zip["state"] = states

cust_removed_zip.head()

KeyboardInterrupt:

In [25]:
cust_removed_zip.head()

,IID,AGE_,INCOME,ETHNIC_CODE_GROUP,LOYALTY_YN,FIRST_ANTHRO_ORDER,LIFETIME_APPAREL_DEMAND,LIFETIME_APPAREL_ORDERS,ORDER_DT,ORDER_ID,...,STORE_ZIP,DIVISION_NAME,DEPARTMENT_NAME,CLASS_NAME,PRODUCT_ID,ITEM_NAME,MD_STATE,DEMAND_QTY,DEMAND_AMT,state
0,010TUGIXZ95K5R,57,8,K,Y,2015-03-24,5059.97,67,6/12/2020,4230042557,...,85254-2176,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S BOTTOMS (NA),PANTS (NA),54766134,ASYMMETRICAL PULL ON PANT,REG PRICE,1,52.46,None
2,0102I4L0PINZB3,54,11,E,Y,2017-07-11,4481.17,30,12/26/2022,4440016787,...,23235-1955,ANTHRO. WOMEN'S DIVISION (NA),JACKETS (NA),OUTERWEAR - ANTHRO. (NA),69997476,UNREAL FUR KATHMANDU COAT,REG PRICE,1,179.97,None
5,0111JT7ZO62TGR,57,6,E,Y,2021-01-03,590.83,13,1/3/2021,4480021996,...,94710-1927,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S TOPS (NA),FINE GAUGE-ANTHRO (NA),59198283,TAI LS V NECK SWEATER,REG PRICE,1,29.97,None
6,010FOC93OHBBM7,28,12,K,Y,2017-10-14,1156.65,11,9/26/2020,5230021005,...,27713-8278,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S BOTTOMS (NA),JEANS (NA),58049768,OB HR BOOCUT FRONT PKTS S,REG PRICE,1,94.40,None
8,010J2QDGSC94T6,50,9,K,Y,2015-06-15,11103.33,58,9/3/2022,4530025418,...,77380-5013,ANTHRO. WOMEN'S DIVISION (NA),ANTHRO. WOMEN'S BOTTOMS (NA),JEANS (NA),67802637,OB SLIM BF ATMOSPHERA OCE,REG PRICE,1,24.97,None

In [ ]:
#search = SearchEngine()
#result = search.by_zipcode(zipcode)
#state = result.state
#print(state)

In [21]:
zipcode_array = ["37066", "55343", "60099", "32780", "95301"]
states = []
for zipcode in zipcode_array:
    result = search.by_zipcode(zipcode)
    states.append(result.state)
states

['TN', 'MN', 'IL', 'FL', 'CA']